@page "/Acerca_De"

<div class="profile-container">
    <h1>Acerca de</h1>

    <div class="image-container">
        <img src="Imagenes/Portada.JPG" width="150" height="150" alt="Foto de Anderson" class="profile-img" />
    </div>

    <p><strong>Nombre:</strong> Anderson Arjoliver Hernandez Pineda</p>
    <p><strong>Enlace a WhatsApp:</strong> <a href="https://wa.me/8498530316" class="link">Chatear en WhatsApp</a></p>
    <p><strong>Enlace a Telegram:</strong> <a href="https://t.me/AndersonHernandezPineda" class="link">Chatear en Telegram</a></p>
    <p><strong>Correo:</strong> <a href="mailto:pinedandersonhernandez2003@gmail.com" class="link">pinedandersonhernandez2003@gmail.com</a></p>
    <p><strong>Meta profesional:</strong> Me gustaría dedicarme a ser un desarrollador full stack después de graduarme en el ITLA y crear mi propia empresa de Desarrolladores.</p>
</div>

<style>
    .profile-container {
        max-width: 1000px; 
        margin: 70px auto; 
        padding: 40px; 
        text-align: left; 
        background-color: #ede7e7;
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .image-container {
        text-align: center; 
        margin-bottom: 15px; 
    }

    .profile-img {
        border-radius: 50%;
        border: 3px solid #3498db;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out; 
        cursor: pointer; 
    }

    .profile-img:hover {
        transform: scale(1.9); 
    }

    .link {
        color: #1279be;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease-in-out;
    }

    .link:hover {
        color: #014078;
    }

    p {
        font-size: 1.1em;
        color: #333;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    h1 {
        color: #34495e;
        margin-bottom: 20px;
        text-align: center; 
    }
</style>
