@page "/"

<PageTitle>Inicio</PageTitle>

<img src="https://ceipvelazquez.educacion.es/documents/620577/2825498/gif_bienvenidos.gif/2194138c-482e-41b4-8c97-a5855e0ddc21?version=1.0&t=1662323706000&imagePreview=1" 
     alt="Imagen Animada" 
     class="animated-image" />
<h4 style="text-align: center;">Bienvenido a mi aplicación Blazor</h4>
<p style="text-align: center;">Gracias por visitar mi tarea. ¡Espero que le guste!</p>
<blockquote style="text-align: center;">
    <p style="font-style: italic;">"Si se puede imaginar se puede Programar" </p>
</blockquote>

<style>
    h4 {
        color: #000000; 
        transition: color 0.5s; 
    }
    h4:hover {
        color: #fc1515f4; 
    }

    blockquote {
        background: #f0f0f0; 
        padding: 10px; 
        border-left: 5px solid #267086; 
        border-radius: 5px; 
    }

    .animated-image {
        display: block; 
        margin: 20px auto; 
        max-width: 100%; 
        height: auto; 
    }
</style>
